---
const year = new Date().getFullYear();
---

<footer class="bar border-t-2 border-border">
	<div class="mx-auto flex max-w-4xl items-center px-4 py-4 text-xs text-muted">
		<p>&copy; {year} Szczepan Gurgul</p>
	</div>
</footer>
